
.linen { color: #FAF0E6; }
.seagreen { color: #2E8B57; }
.lightseagreen { color: #20B2AA; }
.navy { color: #000080; }
.magenta { color: #FF00FF; }
.silver { color: #C0C0C0; }
.dimgray { color: #696969; }
.darkred { color: #8B0000; }
.darkkhaki { color: #BDB76B; }
.teal { color: #008080; }
.peru { color: #CD853F; }
.seashell { color: #FFF5EE; }
.indianred { color: #CD5C5C; }
.palegreen { color: #98FB98; }
.deepskyblue { color: #00BFFF; }
.goldenrod { color: #DAA520; }
.orangered { color: #FF4500; }
.forestgreen { color: #228B22; }
.wheat { color: #F5DEB3; }
.ghostwhite { color: #F8F8FF; }
.rosybrown { color: #BC8F8F; }
.darkolivegreen { color: #556B2F; }
.beige { color: #F5F5DC; }
.darkslategray { color: #2F4F4F; }
.khaki { color: #F0E68C; }
.darkblue { color: #00008B; }
.papayawhip { color: #FFEFD5; }
.mediumslateblue { color: #7B68EE; }
.lightskyblue { color: #87CEFA; }
.crimson { color: #DC143C; }
.lightsalmon { color: #FFA07A; }
.lightcyan { color: #E0FFFF; }
.indigo { color: #4B0082; }
.lightslategrey { color: #778899; }
.plum { color: #DDA0DD; }
.green { color: #008000; }
.lightgoldenrodyellow { color: #FAFAD2; }
.lightslategray { color: #778899; }
.darkmagenta { color: #8B008B; }
.salmon { color: #FA8072; }
.dodgerblue { color: #1E90FF; }
.greenyellow { color: #ADFF2F; }
.cornsilk { color: #FFF8DC; }
.darkslateblue { color: #483D8B; }
.darkseagreen { color: #8FBC8F; }
.darkorange { color: #FF8C00; }
.yellow { color: #FFFF00; }
.ivory { color: #FFFFF0; }
.mediumaquamarine { color: #66CDAA; }
.antiquewhite { color: #FAEBD7; }
.cadetblue { color: #5F9EA0; }
.coral { color: #FF7F50; }
.peachpuff { color: #FFDAB9; }
.pink { color: #FFC0CB; }
.aqua { color: #00FFFF; }
.lemonchiffon { color: #FFFACD; }
.thistle { color: #D8BFD8; }
.chartreuse { color: #7FFF00; }
.moccasin { color: #FFE4B5; }
.limegreen { color: #32CD32; }
.gainsboro { color: #DCDCDC; }
.darkgrey { color: #A9A9A9; }
.mistyrose { color: #FFE4E1; }
.lightcoral { color: #F08080; }
.olivedrab { color: #6B8E23; }
.honeydew { color: #F0FFF0; }
.brown { color: #A52A2A; }
.lightsteelblue { color: #B0C4DE; }
.lightgrey { color: #D3D3D3; }
.blueviolet { color: #8A2BE2; }
.lime { color: #00FF00; }
.darkviolet { color: #9400D3; }
.lightblue { color: #ADD8E6; }
.dimgrey { color: #696969; }
.firebrick { color: #B22222; }
.mediumseagreen { color: #3CB371; }
.darkorchid { color: #9932CC; }
.lightgreen { color: #90EE90; }
.lightpink { color: #FFB6C1; }
.rebeccapurple { color: #663399; }
.midnightblue { color: #191970; }
.powderblue { color: #B0E0E6; }
.sandybrown { color: #F4A460; }
.whitesmoke { color: #F5F5F5; }
.darkslategrey { color: #2F4F4F; }
.oldlace { color: #FDF5E6; }
.cyan { color: #00FFFF; }
.mintcream { color: #F5FFFA; }
.darksalmon { color: #E9967A; }
.paleturquoise { color: #AFEEEE; }
.tomato { color: #FF6347; }
.skyblue { color: #87CEEB; }
.mediumorchid { color: #BA55D3; }
.aquamarine { color: #7FFFD4; }
.darkcyan { color: #008B8B; }
.darkgoldenrod { color: #B8860B; }
.royalblue { color: #4169E1; }
.lightgray { color: #D3D3D3; }
.blanchedalmond { color: #FFEBCD; }
.cornflowerblue { color: #6495ED; }
.chocolate { color: #D2691E; }
.mediumspringgreen { color: #00FA9A; }
.mediumturquoise { color: #48D1CC; }
.black { color: #000000; }
.darkgreen { color: #006400; }
.mediumpurple { color: #9370DB; }
.mediumvioletred { color: #C71585; }
.grey { color: #808080; }
.gold { color: #FFD700; }
.slateblue { color: #6A5ACD; }
.fuchsia { color: #FF00FF; }
.white { color: #FFFFFF; }
.steelblue { color: #4682B4; }
.maroon { color: #800000; }
.olive { color: #808000; }
.slategray { color: #708090; }
.darkgray { color: #A9A9A9; }
.azure { color: #F0FFFF; }
.blue { color: #0000FF; }
.burlywood { color: #DEB887; }
.saddlebrown { color: #8B4513; }
.springgreen { color: #00FF7F; }
.slategrey { color: #708090; }
.purple { color: #800080; }
.navajowhite { color: #FFDEAD; }
.violet { color: #EE82EE; }
.lavender { color: #E6E6FA; }
.sienna { color: #A0522D; }
.gray { color: #808080; }
.floralwhite { color: #FFFAF0; }
.snow { color: #FFFAFA; }
.lavenderblush { color: #FFF0F5; }
.lawngreen { color: #7CFC00; }
.palegoldenrod { color: #EEE8AA; }
.deeppink { color: #FF1493; }
.aliceblue { color: #F0F8FF; }
.orchid { color: #DA70D6; }
.turquoise { color: #40E0D0; }
.palevioletred { color: #DB7093; }
.hotpink { color: #FF69B4; }
.red { color: #FF0000; }
.lightyellow { color: #FFFFE0; }
.darkturquoise { color: #00CED1; }
.tan { color: #D2B48C; }
.orange { color: #FFA500; }
.mediumblue { color: #0000CD; }
.bisque { color: #FFE4C4; }
.yellowgreen { color: #9ACD32; }
