
.MercenarySpacer
{
	height: 64px;
}

.MercenariesPanel
{
	padding: 16px 12px 18px 16px;
	height: 820px;
}

.MercsList
{
	margin-right: 8px;
	flow-children: down;
	overflow: squish scroll;
}

.ScrollBarBackground
{
	margin-top: 4px;
	horizontal-align: right;
	width: 8px;
	height: 100%;
	background-color: #FFFFFF11;
}

.ScrollBarThumb
{
	width: 8px;
	height: 100%;
	background-color: #FFFFFF55;
}

.UpgradePanel
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 86px;
	height: 65px;
	background-color: #000000;
	border-top: 3px solid #737573;
	border-left: 3px solid #585a58;
	border-right: 3px solid #404040;
	border-bottom: 3px solid #2c2a2c;
	saturation: 0.9;
}

.UpgradePanel:hover
{
	background-color: #4c0000;
	border-top: 3px solid #bdbebd;
	border-left: 3px solid #b1b1b1;
	border-right: 3px solid #a5a4a3;
	border-bottom: 3px solid #a0a0a0;
	saturation: 1.0;
}

.UpgradeButton
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.UpgradeCost
{
	margin-left: -4px;
	padding-left: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	min-width: 42px;
	min-height: 20px;
	background-color: #000000e0;
}

.UpgradeCostText
{
	color: aqua;
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 16px;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
	margin-left: 18px;
}

.UpgradeCostIcon
{
	vertical-align: center;
	text-align: left;
}

.UpgradeCostNoIcon
{
	margin-left: -4px;
	padding-left: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	min-width: 20px;
	min-height: 20px;
	background-color: #000000e0;
}

.UpgradeCostTextNoIcon
{
	color: aqua;
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 16px;
	font-weight: bold;
	vertical-align: center;
	text-align: left;
	margin-left: 4px;
}

.CooldownOverlay
{
	height: 100%;
	width: 100%;
	background-color: #000000DD;
}

.CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

.Cooldown
{
	width: 100%;
	height: 100%;
}

.SoldOut
{
	opacity: 0.1;
}

.hidden
{
	visibility: collapse;
	opacity: 0;
}
