
.Parent
{
	width: 100%;
	height: 100%;
}

.Sidebar
{
	height: 100%;
}

.ChildList
{
}

.Left
{
	horizontal-align: left;
	margin-left: -1px;
	border-right: 1px solid #000000;
}

.Right
{
	horizontal-align: right;
	margin-right: -1px;
	border-left: 1px solid #000000;
}

.Bottom
{
	vertical-align: bottom;
	border-top: 1px solid #000000;
}

.Top
{
	vertical-align: top;
	border-bottom: 1px solid #000000;
}

.NoBorders
{
	border: 0px solid #00000000;
}

.CenterVertical
{
	vertical-align: center;
}

.FlowDown
{
	flow-children: down;
}

.FlowRight
{
	flow-children: right;
}

.HorizontalSpacer
{
	margin-left: 8px;
}

.VerticalSpacer
{
	margin-top: 8px;
}

.LargeVerticalSpacer
{
	margin-top: 32px;
}

.InventoryBar
{
	height: 164px;
	width: 29.5%;
}
