
.Parent
{
	width: 100%;
	height: 100%;
}

.Sidebar
{
	height: 100%;
}

.InventoryBar
{
	height: 164px;
	width: 29.5%;
	background-color: #222222;
	padding: 8px;
}

.ChildList
{
}

.Left
{
	horizontal-align: left;
	margin-left: -1px;
}

.Right
{
	horizontal-align: right;
	margin-right: -1px;
}

.Bottom
{
	vertical-align: bottom;
}

.Top
{
	vertical-align: top;
}

.CenterVertical
{
	vertical-align: center;
}

.FlowDown
{
	flow-children: down;
}

.FlowRight
{
	flow-children: right;
}

.VerticalSpacer
{
	margin-top: 8px;
}
