
.UpgradePanel
{
	horizontal-align: center;
	border: 1px solid black;
	min-width: 120px;
	height: 1000px;
	margin-right: 8px;
	padding: 8px;
	flow-children: down;
}

.Upgrade
{
	width: 80px;
	height: 60px;
	background-color: #000000;
	border: 1px solid black;
}

.Upgrade:hover
{
	background-color: #4c0000;
	border: 1px solid white;
}

.UpgradeButton
{
	width: 80px;
	height: 60px;
	saturation: 0.9;
	border: 1px solid black;
	horizontal-align: center;
}

.UpgradeButton:hover
{
	saturation: 1.0;
	border: 1px solid white;
}

.UpgradeText
{
	horizontal-align: center;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 8px 3.0 #000000ff;
}

.UpgradeValue
{
	horizontal-align: center;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 28px;
	color: yellow;
	text-shadow: 0px 0px 8px 8.0 #000000ff;
}

.Cooldown
{
	width: 100%;
	height: 100%;
	visibility: visible;
}

.CooldownOverlay
{
	width: 100%;
	height: 15%;
	vertical-align: bottom;
	background-color: #FFFF0011;
	border-top: 1px solid black;
}

.CooldownOverlayProgress
{
	width: 0%;
	height: 15%;
	vertical-align: bottom;
	background-color: #FFFF00AA;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.CooldownQueue
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 0%;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	font-size: 24px;
	color: yellow;
	text-shadow: 0px 0px 8px 8.0 #000000ff;
}
